body{
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.profile{
    width: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.profile h1{
    text-align: left;
    font-size: 35px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #fff;
    background: linear-gradient(90deg,  #4d78ef, #709df7, #7ed4fd);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.profile img{
    width: 300px;
    height: 400px;
    margin: 0 25%;
    filter: drop-shadow(4px 4px 4px white);
    border-radius: 10px;
}
.profile h3{
    font-size: 20px;
}
.profile a:hover{
    color: #709df7;
    transition: 0.5s ease-in-out;
}